body
{
  columns: #333;
  text-align: center;
  font-family: "Arial";
  font-size: 16x;
  margin: 0;
  padding:  0;
}

#contanier
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #333333;
    margin: 0 auto;
}
#contanier h1
{
    font-size: 20px;
   
}
#cabecera
{
    font-size: 20px;
    background-color: crimson;
    color: cyan;
}

